body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333; /* Farbe für Text im Body */
}

header {
    background-color: #ff6b6b; /* Hintergrundfarbe des Headers */
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

#buttons {
    text-align: center;
}

#buttons button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin: 0 10px;
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px rgba(255, 107, 107, 0.3);
    margin-top: 1rem;
}

#genderDialog button {
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px rgba(255, 107, 107, 0.3);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border: 4px solid #fff;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.shortlist-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border: 4px solid #fff;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.photos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-column {
    flex: 1 0 calc(33.33% - 10px);
    display: flex;
    flex-direction: column;
}

.photo:hover {
    transform: scale(1.1);
}

.large-photo-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.large-photo {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    border: 4px solid #fff;
    border-radius: 10px;
}